@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --bg-l-g: #f5f5f7;
    --menu-clr: #fbfbfd;
    --main-bg: rgba(250,250,250,.6);
    --nav-bg: rgba(29,29,31);
    --nav-l-bg: rgba(22, 22, 23, .2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}



/* ---------------------------------------------HEADER------------------------------------------- */
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    background-color: var(--bg-l-g);
    transition: all .3s ease-in;
    z-index: 10;
    
}

.navbar{
    height: 100%;
    display: flex;
    padding: 0 1rem;
}
.logo{
    width: 15%;
    height: 8vh;
    display: flex;
    align-items: center;
}
.logo>img{
    width: 8rem;
    height: 40%;
}

.container-nav-l{
    width: 75%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    visibility: hidden;

}
.container-nav-l>a{
    text-decoration: none;
    font-size: 1.75rem;
    line-height: 1.1428571429;
    font-weight: 700;
    letter-spacing: .007em;
    color: var(--nav-bg);

}
.r-menu{
    width: 10%;
    height: 7vh;
    margin-right: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 0;
}

.img-m{
    width: 1rem;
    height: 1.3rem;
    background: url(../img/menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

/* --------------------------------MAIN INDEX-------------------------------------- */

.container-main{
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}


.elementor-section{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elementor-section>img{
    /* animation: start-img .6s ease-in both; */

}
.element-2{
    flex-direction: column;
 }

.elementor-section>img, .img-form>img{
    width: 100%;
}
.img-form{
    display: flex;
    justify-content: center;
    /* animation: start-img .6s 0.2s ease-in both; */

 }

/* --SECTION REGISTER--*/
.register-index{
    width: 100%;
    margin-top: 4rem;
    padding: 2rem 1rem;
    background-color: var(--bg-l-g);
}
.register-index>h2{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: .004em;
}

.register-index>.cont-item-form{
    margin-bottom: 2.5rem;
}
.register-index>div{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.register-index>div>input{
    display: block;
    width: 100%;
    height: 2rem;
    border: none;
    background: none;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(43,171,86,.5) 16%, rgba(149,14,142,.5) 75%, rgba(226,29,15,.5) 100%);
}
.cont-name::after,.cont-lastname::after,.cont-email::after,.cont-wallet::after,.cont-address::after{
    position: absolute;
    right:5%;
}
.cont-name::after, .cont-lastname::after{
    content: url("../img/user.svg");
}
.cont-email::after{
    content: url("../img/email.svg");
}
.cont-wallet::after{
    content: url("../img/wallet.svg");
}
.cont-address::after{
    content: url("../img/address.svg");
}

.register-index>button{
    width: 100%;
    padding: 1rem;
    border: none;
    font-weight: 700;
    background: none;

}






/* ------------------------------------------FOOTER-------------------------------------------------------------------- */

footer{
    margin: 3rem 0 0;
    padding: .3rem;
    height: 20vh;
    background-color: var(--nav-bg);
}
.container-nav-foot{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: .2rem
}
.container-nav-foot>a{
    width: 30%;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: .007em;
    color: var(--menu-clr);
    cursor: pointer;
}
.container-nav-foot>p{
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.1428571429;
    font-weight: 700;
    letter-spacing: .007em;
    color: var(--menu-clr);
}





/* ------------------------ABOUT SECTION---------------------------------------------------------------- */

/* --------------------------------------------MAIN ABOUT------------------------------------------------ */
.cont-main-about{
    gap: 12rem;
}
.cont-main-abouth2>h2{
    font-size: 2rem;
    /* margin-top: 6rem; */
}
.barnner-about{
    height: 20vh;
}
.barnner-about>img{
    width: 100%;
}


/* ------------------------CONTACT SECTION---------------------------------------------------------------- */

/* --------------------------------------------MAIN CONTACT------------------------------------------------ */
.cont-main-contac{
    gap: 2rem;
}
.cont-comment>textarea{
    width: 100%;
    height: 5rem;
    background: none;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(43,171,86,.5) 16%, rgba(149,14,142,.5) 75%, rgba(226,29,15,.5) 100%);
}





/*-------------------- ADD CLASS IN JAVASCRIPT (INDEX)----------------------- */

.url-togg{
    background: url(../img/close.svg);
    background-size: cover;
    background-repeat: no-repeat;

}

.head-togg{
    height: 100vh;
    color: var(--nav-bg);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

}

.nav-l-togg{
    visibility: visible;
}

.hidd-logo{
    opacity: 0;
}

.disp-none{
    display: none;
    /* animation: start-img .4s ease-in both; */
}






/* ---------------------------keyframes---------------------------------- */

@keyframes start-img {
    from{
        transform: translateY(15rem);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes stop-start-img {
    from{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes chang-color {
    0%{
        color:  rgba(149,14,142,1);
    }
    50%{
        color: rgba(43,171,86,1);
    }
    100%{
        color:  rgba(226,29,15,1);
    }
}