@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --bg-l-g: #f5f5f7;
    --menu-clr: #fbfbfd;
    --main-bg: rgba(250,250,250,.6);
    --clr-disab: rgb(85, 84, 84);
    --clr-link-g: rgb(87, 84, 84);
    --nav-bg: rgba(29,29,31);
    --nav-l-bg: rgba(22, 22, 23, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
}



/* ---------------------------------------------HEADER------------------------------------------- */
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    background-color: var(--bg-l-g);
    transition: all .3s ease-in;
    z-index: 10;
    
}

.navbar{
    height: 100%;
    display: flex;
    padding: 0 1rem;
}
.logo{
    width: 15%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
}
.logo>img{
    width: 8rem;
    height: 40%;
}

.container-nav-l{
    width: 75%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    visibility: hidden;

}
a{
    text-decoration: none;
    color: var(--nav-bg);
    line-height: 1.1428571429;
    font-weight: 700;
    letter-spacing: .007em;
    cursor: pointer;
    transition: .3s ease;
}
input[type="button"], button{
    transition: .3s ease;
}
a:hover, input[type="button"]:hover, button:hover{
    transform: scale(1.1);
    cursor: pointer
}



.container-nav-l>a, .collection>span>a{
    font-size: 1.75rem;
}
.r-menu{
    width: 10%;
    height: 7vh;
    margin-right: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 0;
}

.img-m{
    width: 1rem;
    height: 1.3rem;
    background: url(../img/menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

/* --------------------------------MAIN INDEX-------------------------------------- */
main{
    /* position: relative; */
    width: 100%;
    margin-top: 10vh;
    /* top: 7vh; */
    min-height: 70vh;
}
.container-main{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}


.elementor-section{
    width: 100%;
    /* padding: 1rem 0; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.elementor-section>img{
    /* animation: start-img .6s ease-in both; */

}
.element-2{
    flex-direction: column;
    gap: 2rem;
 }

.elementor-section>img, .img-form>img{
    width: 100%; 
    aspect-ratio: 1/1;
    
}
.img-form{
    display: flex;
    justify-content: center;
    /* animation: start-img .6s 0.2s ease-in both; */

 }

/* --SECTION REGISTER--*/
.register-index{
    width: 100%;
    /* margin-top: 4rem; */
    padding: 2rem 1rem;
    background-color: var(--bg-l-g);
}
.register-index>h2{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: .004em;
}

.register-index>.cont-item-form{
    margin-bottom: 2.5rem;
}
.register-index>div{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.register-index>div>input{
    display: block;
    width: 100%;
    height: 2rem;
    border: none;
    background: none;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(43,171,86,.5) 16%, rgba(149,14,142,.5) 75%, rgba(226,29,15,.5) 100%);
}
.cont-name::after,.cont-lastname::after,.cont-email::after,.cont-wallet::after,.cont-address::after{
    position: absolute;
    right:5%;
}
.cont-name::after, .cont-lastname::after{
    content: url("../img/user.svg");
}
.cont-email::after{
    content: url("../img/email.svg");
}
.cont-wallet::after{
    content: url("../img/wallet.svg");
}
.cont-address::after{
    content: url("../img/address.svg");
}

.register-index>button{
    width: 100%;
    padding: 1rem;
    border: none;
    font-weight: 700;
    background: none;

}






/* ------------------------------------------FOOTER-------------------------------------------------------------------- */

footer{
    /* position: absolute; */
    width: 100%;
    /* bottom: -7vh; */
    margin: 2rem 0 0;
    padding: .3rem;
    height: 15vh;
    background-color: var(--nav-bg);
}
.container-nav-foot{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: .2rem
}
.container-nav-foot>a{
    width: 30%;
    color: var(--bg-l-g);
    text-align: center;
    font-size: .8rem;
}

.container-nav-foot>p{
    margin-top: 1rem;
    text-align: center;
    font-size: .9rem;
    line-height: 1.1428571429;
    font-weight: 700;
    letter-spacing: .007em;
    color: var(--menu-clr);
}





/* ------------------------ABOUT SECTION---------------------------------------------------------------- */

/* --------------------------------------------MAIN ABOUT------------------------------------------------ */
.cont-main-about{
    /* gap: 12rem; */
}
h2{
    font-size: 2rem;

}
.barnner-about{
    height: 20vh;
}
.barnner-about>img{
    width: 100%;
}


/* ------------------------CONTACT SECTION---------------------------------------------------------------- */

/* --------------------------------------------MAIN CONTACT------------------------------------------------ */
.cont-main-contac{
    gap: 2rem;
}
.cont-comment>textarea{
    width: 100%;
    height: 5rem;
    background: none;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(43,171,86,.5) 16%, rgba(149,14,142,.5) 75%, rgba(226,29,15,.5) 100%);
}



/*--------------------------NTFs SECTION----------------------------------*/

.ntfs-container{
    position: relative;
    width: 30%;
    aspect-ratio: 1/1.1;
}
.slide-container{
    position: absolute; 
    width: 100%;
    height: 100%;

}

.slide-container .slide .item{
    position: absolute;
    top: 50%;
    width: 2rem;
    aspect-ratio: 1/1.1;
    transform: translate(0,-50%);
    border-radius: 10px;
    background-position: 50%,50%;
    background-size: cover;
    display: inline-block;
    transition: .5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0,0);
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3){
    left: 80%;
}
.slide .item:nth-child(4){
    left: calc(80% + 2.4rem);
}
.slide .item:nth-child(5){
    left: calc(80% + 4.8rem);
}
.slide .item:nth-child(n+6){
    left: calc(80% + 4.8rem);
    opacity: 0;
}

.slide-container .button{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
    bottom: -1rem;
}


.slide-container .button button{
    width: .6rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 .15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.slide-container .button button>svg{
    width: 100%;
    aspect-ratio: 1/1;
}
/* **********************************scan section************************************************** */
.img-form-nfts{
    width: 50%;
    aspect-ratio: 1/1;
}
.img-form-nfts>img{
    width: 100%;
}
/* ************************************article section********************************************** */
.cont-join-ntf{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cont-join-ntf>h2>a{
    
    color: black;
    display: block;
    text-align: center;
    /* font-weight: 700; */
}
.cont-join-ntf>p{
    padding: 0 1rem;
    text-align: justify;
}


/* -----------------------------BLOG---------------------------------------- */

.container-main>h2{
    text-align: center;    
}

.elementor-section>article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article .cont-des{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
article a img{
    width: 100%;
}

.cont-des>h5>a, article a img, {
    cursor:pointer
}

.cont-des>h5, .cont-des>h5>a{
    color: var(--clr-disab);
    font-weight: 400;
}
.cont-des .read-m>a{
    color: var(--clr-link-g);
    font-weight: 700;
}
.cont-des>p{
    text-align: justify;
    font-size: .9rem;
    line-height: 1.5rem;
    letter-spacing: .03rem;
}

/* ----------------------WHAT ARE THE NTFs------------------------------------------ */

.what-ntfs{
    padding: 0 1rem;

}

.element-1 .page-content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.element-1 .page-content p{
    text-align: justify;
}

p>a{
    text-decoration: underline;
}

.wp-block-image{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wp-block-image>div{
    width: 100%;
}
.wp-block-image>div>img{
    width: 100%;
}
.wp-block-image ol{
    text-align: justify;
}
.wp-block-image p ol li{
    text-align: justify;
}
.tag-links a{
    text-decoration: underline;
}

.cont-sub-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.comment-list li{
    list-style: none;
}
.comment-author{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.comment-author div b, .comment-author div b a, .comment-author div span{
    font-size: .6rem;
}
.comment-author div b a{
    text-decoration: underline;
}

.comment-metadata a time{
    font-size: .5rem;
    text-decoration: underline;
}

.comment-content p{
    text-align: justify;
    font-size: .8rem;
}

.comment-respond p{
    font-size: .9rem;
}
/* ----------------------------BUY NTF---------------------------------------------------------- */

.wp-block-image{
    width: 100%;
}

.wp-block-image img{
    width: 100%;
}
.page-content ol{
    padding: 0 2rem;
}
.page-content ol li{
    margin-bottom: 1rem;
    text-align: justify;
}

/*---------------------------------CHECK WALLET----------------------------*/
.main-check-wallet{
    padding: 0 1rem;
    
}
.Check-wallet-scan{
    background-color: var(--nav-bg);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
#ch-search-form{
    display: flex;
    gap: .5rem;
}
.scan{
    /* width: 28%; */
}
#wallet-address{
    width: 75%;
}
.Check-wallet-scan #ch-search-form input, .scan input{
    border: none;
    border-radius: 5px;
}
.Check-wallet-scan #ch-search-form input[type="text"], .scan>input{
    padding: 0 1rem;
}
#ch-search-form input[type="button"] {
    /* width: 1rem; */
    padding: .7rem 1rem;
    aspect-ratio: 1/1;
    background-color: white;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.scan input{
    padding: .7rem 1rem;
    background-color: white;
    height: 100%;
    width: 100%;
}

.collect-count{
    font-size: .8rem;
    display: none;
}


.Check-wallet-collect{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.card-col{
    width: 60%;
    padding: 1rem;
    aspect-ratio: 1/1.3;
    background-color: var(--bg-l-g);
    border: 2px solid;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    transition: all 1s ease-in;
    opacity: 1;
}
.card-col>img{
    height: 50%;
    border-radius: 10px;
    
}
.card-col #category{
    width: 60%;
    padding: 0.1rem 1rem;
    border: 2px solid;
    border-radius: 10px;
    background-color: white;
}
.cont-desc-collect h3{
    margin-bottom: .4rem;
    font-weight: 500;
}
.card-col p{
    font-size: .8rem;
}

.cont-type-netw{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.cont-type-netw>span{
    display: flex;
    align-items: center;
}
.cont-type-netw>span>input{
    display: inline-block;
    border: none;
    text-align: start;
    background-color: transparent;
}
.cont-type-netw>span>img{
    margin-top: .15rem;
    width: .4rem;
    
}
/* --------------------------COLLECTION----------------------------------------- */

.collection span a{
    font-size: 1rem;
}

/*-------------------- ADD CLASS IN JAVASCRIPT (INDEX)----------------------- */

.url-togg{
    background: url(../img/close.svg);
    background-size: cover;
    background-repeat: no-repeat;

}



.head-togg{
    height: 100vh;
    color: var(--nav-bg);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

}

.nav-l-togg{
    visibility: visible;
}

.hidd-logo{
    opacity: 0;
    transform: translateX(-120%);
}

.disp-none{
    display: none;
    animation: start-img .4s ease-in both;
}






/* ---------------------------keyframes---------------------------------- */

@keyframes start-img {
    from{
        transform: translateY(15rem);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes stop-start-img {
    from{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes chang-color {
    0%{
        color:  rgba(149,14,142,1);
    }
    50%{
        color: rgba(43,171,86,1);
    }
    100%{
        color:  rgba(226,29,15,1);
    }
}