@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya:ital,wght@0,800;0,900;1,800&family=Indie+Flower&display=swap');

:root{
    --bg-l-g: #f5f5f7;
    --menu-clr: #fbfbfd;
    --main-bg: rgba(250,250,250,.6);
    --clr-disab: rgb(85, 84, 84);
    --clr-link-g: rgb(87, 84, 84);
    --nav-bg: rgba(29,29,31);
    --nav-l-bg: rgba(22, 22, 23, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
}





/* ---------------------------------------------HEADER------------------------------------------- */
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    background-color: var(--bg-l-g);
    transition: all .3s ease-in;
    z-index: 10;

}

.navbar{
    height: 100%;
    display: flex;
    padding: 0 1rem;
}
.logo{
    width: 15%;
    display: flex;
    align-items: center;
}
.logo>img{
    width: 2.5rem;
    aspect-ratio: 1/.5;
}

.container-nav-l{
    width: 75%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    visibility: hidden;

}
a{
    text-decoration: none;
    color: var(--nav-bg);
    line-height: 1.1428571429;
    font-weight: 700;
    letter-spacing: .007em;
    cursor: pointer;
    transition: .3s ease;
}
input[type="button"], button{
    transition: .3s ease;
}
a:hover, input[type="button"]:hover, button:hover{
    transform: scale(1.1);
    cursor: pointer
}



.container-nav-l>a, .collection>span>a{
    font-size: 1.75rem;
}
.r-menu{
    width: 10%;
    height: 7vh;
    margin-right: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 0;
}

.img-m{
    width: 1rem;
    height: 1.3rem;
    background: url(../img/menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

/* --------------------------------MAIN INDEX-------------------------------------- */
main{
    width: 100%;
    margin-top: 10vh;
    min-height: 70vh;
}
.container-main{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.elementor-section{
    width: 100%;
    display: flex;
    align-items: center;
}

.element-2{
    flex-direction: column;
    gap: 2rem;
 }
 .elementor-section>.img{
    background-image: url("../img/zavoobl011bus-1024x1024.jpg");
    background-size: contain;
 }

.elementor-section>.img, .img-form>img{
    width: 100%;
    aspect-ratio: 1/1;

}
.img-form{
    display: flex;
    justify-content: center;
 }

/* --SECTION REGISTER--*/
.register-index{
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--bg-l-g);
}
.register-index>h2{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: .004em;
}

.register-index>.cont-item-form{
    margin-bottom: 2.5rem;
}
.register-index>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.register-index>div>input{
    display: block;
    width: 100%;
    height: 2rem;
    border: none;
    background: none;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(43,171,86,.5) 16%, rgba(149,14,142,.5) 75%, rgba(226,29,15,.5) 100%);
}
.cont-name::after,.cont-lastname::after,.cont-email::after,.cont-wallet::after,.cont-address::after{
    position: absolute;
    right:5%;
}
.cont-name::after, .cont-lastname::after{
    content: url("../img/user.svg");
}
.cont-email::after{
    content: url("../img/email.svg");
}
.cont-wallet::after{
    content: url("../img/wallet.svg");
}
.cont-address::after{
    content: url("../img/address.svg");
}

.register-index>button{
    width: 100%;
    padding: 1rem;
    border: none;
    font-weight: 700;
    background: none;

}






/* ------------------------------------------FOOTER-------------------------------------------------------------------- */

footer{
    width: 100%;
    margin: 2rem 0 0;
    padding: .3rem;
    height: 15vh;
    background-color: var(--nav-bg);
}
.container-nav-foot{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: .2rem
}
.container-nav-foot>a{
    width: 30%;
    color: var(--bg-l-g);
    text-align: center;
    font-size: .8rem;
}

.container-nav-foot>p{
    margin-top: 1rem;
    text-align: center;
    font-size: .9rem;
    line-height: 1.1428571429;
    font-weight: 700;
    letter-spacing: .007em;
    color: var(--menu-clr);
}





/* ------------------------ABOUT SECTION---------------------------------------------------------------- */

/* --------------------------------------------MAIN ABOUT------------------------------------------------ */
.cont-main-about{
}
h2{
    font-size: 2rem;

}
.barnner-about{
    height: 20vh;
}
.barnner-about>img{
    width: 100%;
}


/* ------------------------CONTACT SECTION---------------------------------------------------------------- */

/* --------------------------------------------MAIN CONTACT------------------------------------------------ */
.cont-main-contac{
    gap: 2rem;
}
.cont-comment>textarea{
    width: 100%;
    height: 5rem;
    background: none;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(43,171,86,.5) 16%, rgba(149,14,142,.5) 75%, rgba(226,29,15,.5) 100%);
}



/*--------------------------NTFs SECTION----------------------------------*/

.ntfs-container{
    position: relative;
    width: 50%;
    height: 55vh;
}
.slide-container{
    position: absolute;
    width: 100%;
    height: 50%;

}

.slide-container .slide .item{
    position: absolute;
    top: 50%;
    width: 2rem;
    aspect-ratio: 1/1.1;
    transform: translate(0,-50%);
    /* border-radius: 25px; */
    background-position: 50%,50%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    transition: .5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0,0);
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3){
    left: 80%;
}
.slide .item:nth-child(4){
    left: calc(80% + 2.4rem);
}
.slide .item:nth-child(5){
    left: calc(80% + 4.8rem);
}
.slide .item:nth-child(n+6){
    left: calc(80% + 4.8rem);
    opacity: 0;
}

.slide-container .button{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
    bottom: -1rem;
}


.slide-container .button button{
    width: .6rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 .15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.slide-container .button button>svg{
    width: 100%;
    aspect-ratio: 1/1;
}
/* **********************************scan section************************************************** */

.img-form{
    height: 100%;
}
.img-form-nfts{
    width: 50%;
    aspect-ratio: 1/1;
}
.img-form-nfts>img{
    width: 100%;
}
/* ************************************article section********************************************** */
.cont-join-ntf{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cont-join-ntf>h2>a{

    color: black;
    display: block;
    text-align: center;
    /* font-weight: 700; */
}
.cont-join-ntf>p{
    padding: 0 1rem;
    text-align: justify;
}


/* -----------------------------BLOG---------------------------------------- */

.container-main>h2{
    text-align: center;
}

.elementor-section>article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article .cont-des{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
article a img{
    width: 100%;
}

.cont-des>h5>a, article a img, {
    cursor:pointer
}

.cont-des>h5, .cont-des>h5>a{
    color: var(--clr-disab);
    font-weight: 400;
}
.cont-des .read-m>a{
    color: var(--clr-link-g);
    font-weight: 600;
}
.cont-des>p{
    text-align: justify;
    font-size: .9rem;
    line-height: 1.5rem;
    letter-spacing: .03rem;
}

/* ----------------------WHAT ARE THE NTFs------------------------------------------ */

.what-ntfs{
    padding: 0 1rem;

}

.element-1 .page-content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.element-1 .page-content p{
    text-align: justify;
}

p>a{
    text-decoration: underline;
}

.wp-block-image{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wp-block-image>div{
    width: 100%;
}
.wp-block-image>div>img{
    width: 100%;
}
.wp-block-image ol{
    text-align: justify;
}
.wp-block-image p ol li{
    text-align: justify;
}
.tag-links a{
    text-decoration: underline;
}

.cont-sub-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.comment-list li{
    list-style: none;
}
.comment-author{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.comment-author div b, .comment-author div b a, .comment-author div span{
    font-size: .6rem;
}
.comment-author div b a{
    text-decoration: underline;
}

.comment-metadata a time{
    font-size: .5rem;
    text-decoration: underline;
}

.comment-content p{
    text-align: justify;
    font-size: .8rem;
}

.comment-respond p{
    font-size: .9rem;
}
/* ----------------------------BUY NTF---------------------------------------------------------- */

.wp-block-image{
    width: 100%;
}

.wp-block-image img{
    width: 100%;
}
.page-content ol{
    padding: 0 2rem;
}
.page-content ol li{
    margin-bottom: 1rem;
    text-align: justify;
}

/*---------------------------------CHECK WALLET----------------------------*/
.main-check-wallet{
    padding: 0 1rem;

}
.Check-wallet-scan{
    background-color: var(--nav-bg);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
#ch-search-form{
    display: flex;
    gap: .5rem;
}
.scan{
    /* width: 28%; */
}
#wallet-address{
    width: 75%;
}
.Check-wallet-scan #ch-search-form input, .scan input{
    border: none;
    border-radius: 5px;
}
.Check-wallet-scan #ch-search-form input[type="text"], .scan>input{
    padding: 0 1rem;
}
#ch-search-form input[type="button"] {
    /* width: 1rem; */
    padding: .7rem 1rem;
    aspect-ratio: 1/1;
    background-color: white;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.scan input{
    padding: .7rem 1rem;
    background-color: white;
    height: 100%;
    width: 100%;
}

.collect-count{
    font-size: .8rem;
    display: none;
}


.Check-wallet-collect{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.card-col{
    width: 60%;
    padding: 1rem;
    aspect-ratio: 1/1.3;
    background-color: var(--bg-l-g);
    border: 2px solid;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    transition: all 1s ease-in;
    opacity: 1;
}
.card-col>img{
    height: 50%;
    border-radius: 10px;

}
.card-col #category{
    width: 60%;
    padding: 0.1rem 1rem;
    border: 2px solid;
    border-radius: 10px;
    background-color: white;
}
.cont-desc-collect h3{
    margin-bottom: .4rem;
    font-weight: 500;
}
.card-col p{
    font-size: .8rem;
}

.cont-type-netw{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.cont-type-netw>span{
    display: flex;
    align-items: center;
}
.cont-type-netw>span>input{
    display: inline-block;
    border: none;
    text-align: start;
    background-color: transparent;
}
.cont-type-netw>span>img{
    margin-top: .15rem;
    width: .4rem;

}

/*----------------------------------------Whitepaper-----------------------------

/*----------------------------------------White Paper----------------------------------------------*/

.section-whitepaper>iframe{
    margin: 0px auto;
     width: 100%; 
     height: 80vh
}
/* --------------------------COLLECTION----------------------------------------- */

.collection span a{
    font-size: 1rem;
}

/*-------------------- ADD CLASS IN JAVASCRIPT (INDEX)----------------------- */

.url-togg{
    background: url(../img/close.svg);
    background-size: cover;
    background-repeat: no-repeat;

}



.head-togg{
    height: 100vh;
    color: var(--nav-bg);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

}

.nav-l-togg{
    visibility: visible;
}

.hidd-logo{
    opacity: 0;
    transform: translateX(-120%);
}

.disp-none{
    display: none;
    animation: start-img .4s ease-in both;
}











/* --------------------------------------------MEDIA QUERYS-------------------------------------- */


@media (min-width: 768px) {

/* ---------------------------------------------HEADER------------------------------------------- */


header{
    height: 10vh;

}

.navbar{
    padding: 0 4rem;
    gap: 5rem
}

.logo>img{
    width: 3rem;
    aspect-ratio: 1/.5;
}
.container-nav-l{
    width: 85%;
    padding-top: 0;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 1.2rem;
    visibility: visible;

}
a{
    font-size: 1rem;
    font-weight: 500;
}


.container-nav-l>a, .collection>span>a{
    font-size: .9rem;
}
.r-menu{
    display: none;
}





/* --------------------------------MAIN INDEX-------------------------------------- */
main{
    padding: 0;
    margin-top: 10vh;
    min-height: 62vh;
    display: flex;
    justify-content: center;
}
.container-main{
    gap: 3rem;
}




.elem-index{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-l-g);
    overflow: hidden;
    background-color: rgba(0,0,0,0.9472163865546218);
   
}
.elementor-section>.img{
    height: 100%;
    background-image: url("../img/zavoobl011bus-1024x1024-without-bg.png");
    background-size: 60% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;
 }
 .elem-index>.img::after{
    position: absolute;
    right: 5%;
    width: 25rem;
    height: 30%;
    content:"ZAVOO CLUB NTF";
    aspect-ratio: .6/.3;
    border-radius: .5rem;
    color: var(--bg-l-g);
    font-family: 'Abril Fatface', serif;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
}



.container-main>h1{
    position: relative;
    top: 40%;
    width: 50%;
    display: block;
    text-align: center;
    background-color: var(--bg-l-g);
    font-size: 2.5rem;
    z-index: 10;
}
.container-main>h2{
    margin-top: 1rem;
    font-size: 2.5rem;
}

.element-2{
    padding: 0 4rem;
    flex-direction: row;
    gap: 2rem;
 }



/* ---------SECTION REGISTER-----------*/
.img-form{
    height: 90%;

}

.register-index{
    height: 90%;
    gap: 1.5rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}
.register-index{

}
.register-index>h2{
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.register-index>.cont-item-form{
    margin-bottom: 1.2rem;
}
.register-index>div>input{
   font-size: .8rem;
}
.cont-name::after,.cont-lastname::after,.cont-email::after,.cont-wallet::after,.cont-address::after{
    right:0;
    left: 87%;
}


.register-index>button{
    width: 100%;
    padding: 0rem;
    border: none;
    font-weight: 700;
    background: none;

}





/* ------------------------------------------FOOTER-------------------------------------------------------------------- */


.container-nav-foot{
    gap: 0;
}
.container-nav-foot>a{
    width: 10%;
    font-size: 1rem;
    font-weight: 400;
}

.container-nav-foot>p{
    width: 100%;
    font-weight: 500;
    font-size: 1rem;

}

/* ------------------------ABOUT SECTION---------------------------------------------------------------- */

/* --------------------------------------------MAIN ABOUT------------------------------------------------ */
.cont-main-about{
    height: 65vh;
    justify-content: space-between;
}
.barnner-about{
    height: 100%;
}
.barnner-about>img{
    height: 70%;
}


/*--------------------------NTFs SECTION----------------------------------*/

.ntfs-container{
    position: inherit;
    width: 100%;
    height: 62vh;

}
.slide-container {
    position: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide-container .slide{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    overflow: hidden;

}



.slide .item:nth-child(1),
.slide .item:nth-child(2),
.slide .item:nth-child(3),
.slide .item:nth-child(4),
.slide .item:nth-child(5)
{
    position: inherit;
    width: 25%;
    height: 100%;
    transform: inherit;
}


.slide .item:nth-child(4){
    height: 80%;
}


.slide .item:nth-child(n+5){
    position: inherit;
    opacity: 0;
}


.slide-container .button{
    position: inherit;

}






/* **********************************scan section************************************************** */

.img-form-nfts{
    width: 150%;
}

/* ************************************article section********************************************** */

.ntf-sect2{
    gap: 2rem;
}
.cont-join-ntf{
    gap: 2rem;
}

.cont-join-ntf>h2>a{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    /* font-weight: 700; */
}



/*----------------------------------------White Paper----------------------------------------------*/
.section-whitepaper{
    flex-direction: column;
}



/* -----------------------------BLOG---------------------------------------- */
.cont-blog{
    flex-direction: row;
    flex-wrap: wrap;
}

.elem-sect-blog{
    width: 40%;
}

.cont-blog h2{
    width: 100%;
    padding: 0 4rem;
}

.cont-blog .element-2{
    padding: 0;
}

article .cont-des{
    padding: 0;
    gap: 1rem;
}
.cont-des>h3>a{
    font-size: 1.3rem;
    font-weight: 500;
}

.cont-des>h5, .cont-des>h5>a{
    font-weight: 600;
}


.cont-des>p{
    font-size: 1.1rem;
}


/* ----------------------WHAT ARE THE NTFs------------------------------------------ */

.what-ntfs{
    padding: 0 4rem;

}

.element-1 .page-content{
    gap:2rem;
}


.page-content p, .page-content p a, .wp-block-image p a{
    font-size: 1.5rem;
}

.sect2-what-are-ntf{
    padding: 0;
}
.cont-sub-comment{
    justify-content: space-between;
}
.sect2-what-are-ntf{
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.comment-author div b, .comment-author div b a, .comment-author div span{
    font-size: .8rem;
}


.comment-metadata a time{
    font-size: .7rem;
}

/* ----------------------------BUY NTF---------------------------------------------------------- */


.page-content ol li{
    font-size: 1.2rem;    
}




/* ------------------------CONTACT SECTION---------------------------------------------------------------- */
.contact-desk{
    gap: 1rem;
}
/* --------------------------------------------MAIN CONTACT------------------------------------------------ */

.sect-contact{
    gap: 1rem;
}

.cont-comment>textarea{
    height: 8.6rem;
}
/*---------------------------------CHECK WALLET----------------------------*/
.main-check-wallet{
    padding: 0 4rem;

}
.Check-wallet-collect{
    /* padding: 0 4rem; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}
#ch-search-form{
    width: 70%;
    gap: 1rem;
}


.collect-count{
    font-size: 1rem;
}


.card-col{
    width: 40%;
}
.card-col>img{
    height: 45%;
}


/* -----------------------------------collection-------------------------------- */


.collection span{
    width: 100%;
}

}



@media (min-width: 998px) {

    /* ---------------------------------------------HEADER------------------------------------------- */
       
    
    .navbar{
        gap: 5rem
    }
    
    .logo>img{
        width: 3.5rem;
        aspect-ratio: 1/.5;
    }
    .container-nav-l{
        gap: 1.5rem;    
    }

    
    .container-nav-l>a, .collection>span>a{
        font-size: 1rem;
    }
       
    
    
    
    /* --------------------------------MAIN INDEX-------------------------------------- */

    .container-main>h2{
        margin-top: 2rem;
        font-size: 2rem;
    }
    .elementor-section>.img{
        background-size: 55% 100%;
    }
    .elem-index>.img::after{
        right: 10%;
        width: 30rem;
        font-size: 6rem;
    }






    /* ---------SECTION REGISTER-----------*/
    .img-form{
        width: 50%;
    }

    .register-index{
        height: 90%;
        width: 50%;
        padding: 0;
    }

    .register-index>h2{
        font-size: 1.5rem;
    }
    
    .register-index>.cont-item-form{
        margin-bottom: .8rem;
    }
    .register-index>div>input{
       font-size: .8rem;
    }
    .cont-name::after,.cont-lastname::after,.cont-email::after,.cont-wallet::after,.cont-address::after{
        left: 92%;
    }
    
    
    .register-index>button{
        font-size: 1rem;
    
    }
    
    
    
    
    
    /* ------------------------------------------FOOTER-------------------------------------------------------------------- */
    
    footer{
        margin: 3rem 0 0;
    }

     .container-nav-foot>p{
        font-size: 1.1rem;
    
    }
    
    
    
    
    /*--------------------------NTFs SECTION----------------------------------*/
    

 
    
    
    .slide .item:nth-child(1),
    .slide .item:nth-child(2),
    .slide .item:nth-child(3),
    .slide .item:nth-child(4),
    .slide .item:nth-child(5),
    .slide .item:nth-child(6),
    .slide .item:nth-child(7)
    {
        width: 20%;
        height: 60%;
    }
    .slide-container .slide{
        gap: 1rem;
        height: 70%;
    }
    .slide .item:nth-child(5),
    .slide .item:nth-child(6),
    .slide .item:nth-child(7){
        opacity: 1;
        transform: inherit;
    }
   
    .slide .item:nth-child(n+8){
        position: inherit;
        opacity: 0;
    }
    
  
    
    
    
    
    /* **********************************scan section************************************************** */
    
    .img-form-nfts{
        width: 80%;
        /* aspect-ratio: 1/1; */
    }
    /* ************************************article section********************************************** */
    
    .ntf-sect2{
        gap: 2rem;
    }
    .cont-join-ntf{
        gap: 2rem;
    }
    
    .cont-join-ntf>h2>a{
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        /* font-weight: 700; */
    }
    
    
       
 
    
    /* ------------------------CONTACT SECTION---------------------------------------------------------------- */
    
    /* --------------------------------------------MAIN CONTACT------------------------------------------------ */
    

    
    /*---------------------------------CHECK WALLET----------------------------*/
    
    .card-col{
        width: 30%;
    }
    .card-col>img{
        height: 45%;
    }
    
    
    /* -----------------------------------collection-------------------------------- */
    
    
    .collection span{
        width: 100%;
    }
    
    }


    

    
@media (min-width: 1200px) {

    /* ---------------------------------------------HEADER------------------------------------------- */
       

    .logo>img{
        width: 4rem;
        aspect-ratio: 1/.6;
    }


    
   
    
    /* --------------------------------MAIN INDEX-------------------------------------- */

    .elementor-section>.img{
        background-size: 55% 100%;
    }
    .elem-index>.img::after{
        right: 10%;
        width: 35rem;
        font-size: 6.5rem;
    }


    /* ---------SECTION REGISTER-----------*/

    .register-index>h2{
        font-size: 1.9rem;
    }
    
    .register-index>.cont-item-form{
        margin-bottom: 1.3rem;
    }
    .register-index>div>input{
       font-size: 1rem;
    }
    .cont-name::after,.cont-lastname::after,.cont-email::after,.cont-wallet::after,.cont-address::after{
        left: 93%;
    }
    
    
    .register-index>button{
        font-size: 1.3rem;
    
    }
    
    
    
    
    
    /* ------------------------------------------FOOTER-------------------------------------------------------------------- */
    
    footer{
        margin: 3rem 0 0;
    }

    .container-nav-foot>a{
        font-size: 1.1rem;
    
    }
     .container-nav-foot>p{
        font-size: 1.2rem;
    
    }
    
    
    
    
    /*--------------------------NTFs SECTION----------------------------------*/
    

 
    
    
    .slide .item:nth-child(1),
    .slide .item:nth-child(2),
    .slide .item:nth-child(3),
    .slide .item:nth-child(4),
    .slide .item:nth-child(5),
    .slide .item:nth-child(6),
    .slide .item:nth-child(7),
    .slide .item:nth-child(8)
    {
        width: 20%;
        height: 60%;
    }
    .slide-container .slide{
        gap: 0.1rem;
        height: 70%;
    }
    .slide .item:nth-child(5),
    .slide .item:nth-child(6),
    .slide .item:nth-child(7),
    .slide .item:nth-child(8){
        opacity: 1;
        transform: inherit;
    }
   
    .slide .item:nth-child(n+9){
        position: inherit;
        opacity: 0;
    }
    
  
    
    
    
    
    /* **********************************scan section************************************************** */
    
    .img-form-nfts{
        width: 80%;
        /* aspect-ratio: 1/1; */
    }
    /* ************************************article section********************************************** */
    
    .ntf-sect2{
        gap: 2rem;
    }
    .cont-join-ntf{
        gap: 2rem;
    }
    
    .cont-join-ntf>h2>a{
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        /* font-weight: 700; */
    }
    
    
       
 
    
    /* ------------------------CONTACT SECTION---------------------------------------------------------------- */
    
    /* --------------------------------------------MAIN CONTACT------------------------------------------------ */
    

    
    /*---------------------------------CHECK WALLET----------------------------*/
    
    .card-col{
        width: 30%;
    }
    .card-col>img{
        height: 45%;
    }
    
    
    /* -----------------------------------collection-------------------------------- */
    
    
    .collection span{
        width: 100%;
    }
    
    }


















/* ---------------------------keyframes---------------------------------- */

@keyframes start-img {
    from{
        transform: translateY(15rem);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes stop-start-img {
    from{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes chang-color {
    0%{
        color:  rgba(149,14,142,1);
    }
    50%{
        color: rgba(43,171,86,1);
    }
    100%{
        color:  rgba(226,29,15,1);
    }
}