<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/icon_zavooclubntf.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Quiénes somos - zavoo club nft</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <span class="logo"><img src="../img/logo.png" alt=""></span>
            <div class="container-nav-l">
                <a class="navbar-opc" href="../index.html">Home</a>
                <a class="navbar-opc" href="./about.html">Quiénes somos</a>
                <a class="navbar-opc" href="#">NFTs</a>
                <a class="navbar-opc" href="#">White paper</a>
                <a class="navbar-opc" href="#">Blog</a>
                <a class="navbar-opc" href="./contact.html">Contacto</a>              
            </div>
            <div class="r-menu">
                <span class="img-m url-menu"></span>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-main cont-main-about">

            <h2>Quiénes Somos</h2>
            <div class="barnner-about"><img src="../img/zavoo-rarible-banner.jpg" alt=""></div>

        </div>

    </main>
    <footer>
        <div class="container-nav-foot">
            <a class="navbar-opc" href="../index.html">Home</a>
            <a class="navbar-opc" href="./about.html">Quiénes somos</a>
            <a class="navbar-opc" href="#">NFTs</a>
            <a class="navbar-opc" href="#">White paper</a>
            <a class="navbar-opc" href="#">Blog</a>
            <a class="navbar-opc" href="./contact.html">Contacto</a>
            <p>Zavoo NFT Club - Todos los derechos reservados</p>        
        </div>
    </footer>

    <script src="../js/index.js"></script>
    
</body>
</html>